body {
	background-color: black;
	color: white;
}
.topstatusline {
	height: 20px;
	background-color: #3698F0;
}
body .ui-progressbar, body .ui-widget-content {
	background: black 50% 50% repeat-x;
}
body .ui-progressbar-value {
	background: #3698F0 50% 50% repeat-x;
}
.topbar {
	padding: 30px;
	margin: 10px;
}
.timeleft {
	margin: 10px 0 10px 0;
	display: block;
	text-transform: capitalize;
	font-weight: 400;
	color: #05788F;
	text-align: center;
	line-height: 1.2em;
	font-size: 30px;
	font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetiva,Arial,sans-serif;
}
.secondsleft {
	font-size: 7em;
	display: block;
	margin: auto;
	color: #00B5D9;
	text-align: center;
	font-weight: 700;
}
.playername, .lastanswer, .question  {
	font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetiva,Arial,sans-serif;
	color: white;
	font-size: 2em;
	display: inline;
}
.playername {
	display: block;
	margin-left: 150px;
}
.rightwrong {
	font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetiva,Arial,sans-serif;
	color: red;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	display: inline;
	margin-left: 15px;
}
.avatar {
	border-radius: 50%;
  border: 6px solid white;
	width: 100px;
	height: 100px;
	background: white;
	display: inline-block;
	float: left;
}
.playerscore {
	vertical-align: bottom;
	color: #DAB201;
	font-size: 3.5em;
	display: inline-block;
	text-align: left;
	margin-left: 100px;
	margin-top: 5px;
}
.qcontent {
	margin: 50px;
}
.qimage img {
	width: 80%;
}
.question {
	display: block;
	text-align: center;
	margin: 50px 0 150px 0;
	font-size: 48px;
}
.multiplechoices {
	padding: 30px;
}
.multiplechoices div {
	margin: 0 auto;
}
.multiplechoices div button {
	height: 175px;
	width: 400px;
	font-size: 160%;
	font-weight: 500;
	display: block;
	margin: 0 auto;
}
